.advantages-company {
	background-color: #fff;
}

.advantages-company__offer {
	font-weight: 100;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
}

.advantages-company__list {
	list-style: none;
}

.advantages-company__item {
	text-align: center;
}

.advantages-company__title {
	font-size: 18px;
	line-height: 24px;
	color: #000;
}

.advantages-company__description {
	font-size: 14px;
	line-height: 24px;
	color: #283645;
}

.advantages-company__background {
	margin: 0 auto;
}
