.contacts-footer__image {
  margin: 0 82px;
}

.contacts-footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.contacts-footer__item {
  margin: 0 5px;
}

.contacts-footer__developed {
  font-size: 14px;
  line-height: 18px;
  color: @bg-darkblue;
}
