.download-application {
  background-color: #1d2631;
  margin: 0 auto;
}

.download-application__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.download-application__href--load {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}

.download-application__item--load {
  margin-right: 54px;
}

.download-application__description {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}
