.user-photo__name {
  font-size: 14px;
  color: @bg-darkblue;
  font-weight: bold;
  font-style: normal;
}

.user-photo__time {
  text-transform: uppercase;
  color: @bg-darkblue;
  font-weight: lighter;
}

.user-photo__text {
  font-size: 14px;
  color: @bg-darkblue;
}

.user-photo__description {
  font-size: 14px;
  line-height: 30px;
  color: @bg-darkblue;
}
